---
http_interactions:
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/ABBV,ABT,ADM,ADP,AFL?apikey=<FMP_API_KEY>&from=2021-09-06
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "ABT",
            "historical" : [ {
              "date" : "2021-09-10",
              "open" : 128.0,
              "high" : 129.44,
              "low" : 128.0,
              "close" : 128.8,
              "adjClose" : 128.8,
              "volume" : 4142936.0,
              "unadjustedVolume" : 4142936.0,
              "change" : 0.8,
              "changePercent" : 0.625,
              "vwap" : 128.74667,
              "label" : "September 10, 21",
              "changeOverTime" : 0.00625
            }, {
              "date" : "2021-09-09",
              "open" : 129.15,
              "high" : 129.15,
              "low" : 127.33,
              "close" : 127.98,
              "adjClose" : 127.98,
              "volume" : 4457823.0,
              "unadjustedVolume" : 4457823.0,
              "change" : -1.17,
              "changePercent" : -0.906,
              "vwap" : 128.15333,
              "label" : "September 09, 21",
              "changeOverTime" : -0.00906
    [...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/ALB,AMCR,AOS,APD,ATO?apikey=<FMP_API_KEY>&from=2021-09-06
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "APD",
            "his[...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/BDX,BEN,BF-B,CAH,CAT?apikey=<FMP_API_KEY>&from=2021-09-06
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "BF-B",
            "hi[...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/CB,CINF,CL,CLX,CTAS?apikey=<FMP_API_KEY>&from=2021-09-06
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "CINF",
            "his[...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/CVX,DOV,ECL,ED,EMR?apikey=<FMP_API_KEY>&from=2021-09-06
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "CVX",
            "histo[...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/ESS,EXPD,FRT,GD,GPC?apikey=<FMP_API_KEY>&from=2021-09-06
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "ESS",
            "hist[...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/GWW,HRL,IBM,ITW,JNJ?apikey=<FMP_API_KEY>&from=2021-09-06
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "HRL",
            "hist[...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/KMB,KO,LEG,LIN,LOW?apikey=<FMP_API_KEY>&from=2021-09-06
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "LIN",
            "histo[...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/MCD,MDT,MKC,MMM,NEE?apikey=<FMP_API_KEY>&from=2021-09-06
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "MKC",
            "hist[...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/NUE,O,PBCT,PEP,PG?apikey=<FMP_API_KEY>&from=2021-09-06
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "PBCT",
            "histo[...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/PNR,PPG,ROP,SHW,SPGI?apikey=<FMP_API_KEY>&from=2021-09-06
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "ROP",
            "his[...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/SWK,SYY,T,TGT,TROW?apikey=<FMP_API_KEY>&from=2021-09-06
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "TGT",
            "histo[...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/VFC,WBA,WMT,WST,XOM?apikey=<FMP_API_KEY>&from=2021-09-06
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "VFC",
            "hist[...]
