---
http_interactions:
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/stock_dividend/KO,JNJ?apikey=<FMP_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "KO",
            "historical" : [ {
              "date" : "2021-09-14",
              "label" : "September 14, 21",
              "adjDividend" : 0.4200000000,
              "dividend" : 0.42,
              "recordDate" : "2021-09-15",
              "paymentDate" : "2021-10-01",
              "declarationDate" : "2021-07-14"
            }, {
              "date" : "2021-06-14",
              "label" : "June 14, 21",
              "adjDividend" : 0.4200000000,
              "dividend" : 0.42,
              "recordDate" : "2021-06-15",
              "paymentDate" : "2021-07-01",
              "declarationDate" : "2021-04-21"
            }, {
              "date" : "2021-03-12",
              "label" : "March 12, 21",
              "adjDividend" : 0.4200000000,
              "dividend" : 0.42,
           [...]
