---
http_interactions:
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/stock_dividend/IBM,JNJ,KO,PG,T?apikey=<FMP_API_KEY>&from=2021-06-01&to=2021-09-26
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "T",
            "historical" : [ {
              "date" : "2021-07-08",
              "label" : "July 08, 21",
              "adjDividend" : 0.5200000000,
              "dividend" : 0.52,
              "recordDate" : "2021-07-09",
              "paymentDate" : "2021-08-02",
              "declarationDate" : "2021-06-25"
            } ]
          }, {
            "symbol" : "KO",
            "historical" : [ {
              "date" : "2021-09-14",
              "label" : "September 14, 21",
              "adjDividend" : 0.4200000000,
              "dividend" : 0.42,
              "recordDate" : "2021-09-15",
              "paymentDate" : "2021-10-01",
              "declarationDate" : "2021-07-14"
            }, {
              "date" : "2021-06-14",
              "label" : "June 14, 21",
          [...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/stock_dividend/XOM?apikey=<FMP_API_KEY>&from=2021-06-01&to=2021-09-26
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "symbol" : "XOM",
          "historical" : [ {
            "date" : "2021-08-12",
            "label" : "August 12, 21",
            "adjDividend" : 0.8700000000,
            "dividend" : 0.87,
            "recordDate" : "2021-08-13",
            "paymentDate" : "2021-09-10",
            "declarationDate" : "2021-07-28"
          } ]
        }
  recorded_at: Sun, 26 Sep 2021 09:09:13 GMT
recorded_with: VCR 6.0.0
