---
http_interactions:
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/IBM,JNJ,KO,PG,T?apikey=<FMP_API_KEY>&from=2021-09-01&to=2021-09-03
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "T",
            "historical" : [ {
              "date" : "2021-09-03",
              "open" : 27.64,
              "high" : 27.75,
              "low" : 27.32,
              "close" : 27.56,
              "adjClose" : 27.56,
              "volume" : 2.7072773E7,
              "unadjustedVolume" : 2.7072773E7,
              "change" : -0.08,
              "changePercent" : -0.289,
              "vwap" : 27.54333,
              "label" : "September 03, 21",
              "changeOverTime" : -0.00289
            }, {
              "date" : "2021-09-02",
              "open" : 27.18,
              "high" : 27.87,
              "low" : 27.16,
              "close" : 27.64,
              "adjClose" : 27.64,
              "volume" : 6.0413975E7,
              "unadjustedVolume" : 6.0413975E7,
              "change" : 0.46,
              "changePercent" : 1.692,
              "vwap" : 27.55667,
              "label" : "September 02, 21",
              "changeOverTime" : 0.01692
        [...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/XOM?apikey=<FMP_API_KEY>&from=2021-09-01&to=2021-09-03
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "symbol" : "XOM",
          "historical" : [ {
            "date" : "2021-09-[...]
