---
http_interactions:
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/ALB?apikey=<FMP_API_KEY>&from=2021-09-13&to=2021-09-14
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "symbol" : "ALB",
          "historical" : [ {
            "date" : "2021-09-14",
            "open" : 232.199997,
            "high" : 235.0,
            "low" : 228.740005,
            "close" : 230.470001,
            "adjClose" : 230.085861,
            "volume" : 1322400.0,
            "unadjustedVolume" : 1322400.0,
            "change" : -1.73,
            "changePercent" : -0.745,
            "vwap" : 231.40334,
            "label" : "September 14, 21",
            "changeOverTime" : -0.00745
          }, {
            "date" : "2021-09-13",
            "open" : 242.929993,
            "high" : 243.25,
            "low" : 222.449997,
            "close" : 229.130005,
            "adjClose" : 228.748093,
            "volume" : 2522900.0,
            "unadjustedVolume" : 2522900.0,
            "change" : -13.79999,
            "changePercent" : -5.681,
            "vwap" : 231.61,
            "label" : "September 13, 21",
            "changeOverTime" : -0.05681
          } ]
        }
  recorded_at: Mon, 20 Sep 2021 12:58:08 GMT
recorded_with: VCR 6.0.0
