---
http_interactions:
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/BF-B?apikey=<FMP_API_KEY>&from=2020-09-03&to=2021-09-03
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "symbol" : "BF-B",
          "historical" : [ {
            "date" : "2021-09-03",
            "open" : 70.53,
            "high" : 71.31,
            "low" : 70.53,
            "close" : 70.93,
            "adjClose" : 70.93,
            "volume" : 633020.0,
            "unadjustedVolume" : 633020.0,
            "change" : 0.4,
            "changePercent" : 0.567,
            "vwap" : 70.92333,
            "label" : "September 03, 21",
            "changeOverTime" : 0.00567
          }, {
            "date" : "2021-09-02",
            "open" : 72.37,
            "high" : 73.46,
            "low" : 70.6,
            "close" : 70.9,
            "adjClose" : 70.9,
            "volume" : 1320027.0,
            "unadjustedVolume" : 1320027.0,
            "change" : -1.47,
            "changePercent" : -2.031,
            "vwap" : 71.65333,
            "label" : "September 02, 21",
            "changeOverTime" : -0.02031
          }, {
            "date" : "2021[...]
- request:
    method: post
    uri: https://quickchart.io/chart
    body:
      encoding: UTF-8
      string: '{"c":"{\n    type: \"line\",\n    data: {\n      labels: [\"2020-09-09\",
        \"2020-09-10\", \"2020-09-11\", \"2020-09-14\", \"2020-09-15\", \"2020-09-16\",
        \"2020-09-17\", \"2020-09-18\", \"2020-09-21\", \"2020-09-22\", \"2020-09-23\",
        \"2020-09-24\", \"2020-09-25\", \"2020-09-28\", \"2020-09-29\", \"2020-09-30\",
        \"2020-10-01\", \"2020-10-02\", \"2020-10-[...]
