---
http_interactions:
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/MMM,AOS,ABT,ABBV,AFL?apikey=<FMP_API_KEY>&from=2021-09-20&to=2021-09-26
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "ABT",
            "historical" : [ {
              "date" : "2021-09-24",
              "open" : 124.81,
              "high" : 125.48,
              "low" : 124.27,
              "close" : 124.37,
              "adjClose" : 124.37,
              "volume" : 3064985.0,
              "unadjustedVolume" : 3064985.0,
              "change" : -0.44,
              "changePercent" : -0.353,
              "vwap" : 124.70667,
              "label" : "September 24, 21",
              "changeOverTime" : -0.00353
            }, {
              "date" : "2021-09-23",
              "open" : 125.42,
              "high" : 125.9,
              "low" : 124.81,
              "close" : 125.3,
              "adjClose" : 125.3,
              "volume" : 4098543.0,
              "unadjustedVolume" : 4098543.0,
              "change" : -0.12,
              "changePercent" : -0.096,
              "vwap" : 125.33667,
              "label" : "September 23, 21",
              "changeOverTime" : -9.6E-4
       [...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/APD,ALB,AMCR,ADM,T?apikey=<FMP_API_KEY>&from=2021-09-20&to=2021-09-26
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "T",
      [...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/ATO,ADP,BDX,BF-B,CAH?apikey=<FMP_API_KEY>&from=2021-09-20&to=2021-09-26
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "BF-B",
 [...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/CAT,CVX,CB,CINF,CTAS?apikey=<FMP_API_KEY>&from=2021-09-20&to=2021-09-26
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "CINF",
 [...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/CLX,KO,CL,ED,DOV?apikey=<FMP_API_KEY>&from=2021-09-20&to=2021-09-26
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "KO",
       [...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/ECL,EMR,ESS,EXPD,XOM?apikey=<FMP_API_KEY>&from=2021-09-20&to=2021-09-26
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "ESS",
  [...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/FRT,BEN,GD,GPC,HRL?apikey=<FMP_API_KEY>&from=2021-09-20&to=2021-09-26
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "HRL",
    [...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/ITW,IBM,JNJ,KMB,LEG?apikey=<FMP_API_KEY>&from=2021-09-20&to=2021-09-26
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "KMB",
   [...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/LIN,LOW,MKC,MCD,MDT?apikey=<FMP_API_KEY>&from=2021-09-20&to=2021-09-26
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "LIN",
   [...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/NEE,NUE,PNR,PBCT,PEP?apikey=<FMP_API_KEY>&from=2021-09-20&to=2021-09-26
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "PNR",
  [...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/PPG,PG,O,ROP,SPGI?apikey=<FMP_API_KEY>&from=2021-09-20&to=2021-09-26
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "ROP",
     [...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/SHW,SWK,SYY,TROW,TGT?apikey=<FMP_API_KEY>&from=2021-09-20&to=2021-09-26
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "TGT",
  [...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/VFC,GWW,WBA,WMT,WST?apikey=<FMP_API_KEY>&from=2021-09-20&to=2021-09-26
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "VFC",
   [...]
