---
http_interactions:
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/ABBV?apikey=<FMP_API_KEY>&from=2020-09-04&to=2021-09-04
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "symbol" : "ABBV",
          "historical" : [ {
            "date" : "2021-09-03",
            "open" : 111.18,
            "high" : 112.06,
            "low" : 111.02,
            "close" : 111.62,
            "adjClose" : 111.62,
            "volume" : 5392203.0,
            "unadjustedVolume" : 5392203.0,
            "change" : 0.44,
            "changePercent" : 0.396,
            "vwap" : 111.56667,
            "label" : "September 03, 21",
            "changeOverTime" : 0.00396
          }, {
            "date" : "2021-09-02",
            "open" : 113.55,
            "high" : 113.74,
            "low" : 110.82,
            "close" : 112.02,
            "adjClose" : 112.02,
            "volume" : 1.470124E7,
            "unadjustedVolume" : 1.470124E7,
            "change" : -1.53,
            "changePercent" : -1.347,
            "vwap" : 112.19333,
            "label" : "September 02, 21",
            "changeOverTime" : -0.01347
          }, {
            "da[...]
