---
http_interactions:
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/KO?apikey=<FMP_API_KEY>&from=2020-09-03&to=2021-09-03
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "symbol" : "KO",
          "historical" : [ {
            "date" : "2021-09-03",
            "open" : 56.459999,
            "high" : 56.77,
            "low" : 56.25,
            "close" : 56.73,
            "adjClose" : 56.73,
            "volume" : 1.32204E7,
            "unadjustedVolume" : 1.32204E7,
            "change" : 0.27,
            "changePercent" : 0.478,
            "vwap" : 56.58333,
            "label" : "September 03, 21",
            "changeOverTime" : 0.00478
          }, {
            "date" : "2021-09-02",
            "open" : 56.77,
            "high" : 57.029999,
            "low" : 56.41,
            "close" : 56.77,
            "adjClose" : 56.77,
            "volume" : 1.16542E7,
            "unadjustedVolume" : 1.16542E7,
            "change" : 0.0,
            "changePercent" : 0.0,
            "vwap" : 56.73667,
            "label" : "September 02, 21",
            "changeOverTime" : 0.0
          }, {
            "date" : "2021-09[...]
- request:
    method: post
    uri: https://quickchart.io/chart
    body:
      encoding: UTF-8
      string: '{"c":"{\n    type: \"line\",\n    data: {\n      labels: [\"2020-09-09\",
        \"2020-09-10\", \"2020-09-11\", \"2020-09-14\", \"2020-09-15\", \"2020-09-16\",
        \"2020-09-17\", \"2020-09-18\", \"2020-09-21\", \"2020-09-22\", \"2020-09-23\",
        \"2020-09-24\", \"2020-09-25\", \"2020-09-28\", \"2020-09-29\", \"2020-09-30\",
        \"2020-10-01\", \"2020-10-02\", \"2020-10-[...]
