---
http_interactions:
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/financial-growth/KO?apikey=<FMP_API_KEY>&period=quarter
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [ {
          "symbol" : "KO",
          "date" : "2021-07-02",
          "period" : "Q2",
          "revenueGrowth" : 0.122949002217294906,
          "grossProfitGrowth" : 0.149954669084315512,
          "ebitgrowth" : 0.168306394940267029,
          "operatingIncomeGrowth" : 0.168306394940267029,
          "netIncomeGrowth" : 0.176391982182628054,
          "epsgrowth" : 0.173076923076923017,
          "epsdilutedGrowth" : 0.173076923076923017,
          "weightedAverageSharesGrowth" : 0.00139308103087996287,
          "weightedAverageSharesDilutedGrowth" : 0.00184757505773672052,
          "dividendsperShareGrowth" : 0.000264009745687328616,
          "operatingCashFlowGrowth" : 1.3771393643031784,
          "freeCashFlowGrowth" : 1.573943661971831,
          "tenYRevenueGrowthPerShare" : -0.140777025718962584,
          "fiveYRevenueGrowthPerShare" : -0.103673472438664011,
          "threeYRevenueGrowthPerShare" : 0.0694177825372636476,
          "tenYOperatingCFGrowthPerShare" : 0.319688227830550897,
          "fiveYOperatingCFGrowthPerShare" : 0.23478047970211538,
          "threeYOperatingCFGrowthPerShare" : 0.908367573349853519,
          "tenYNetIncomeGrowthPerShare" : 0.0191000629326619591,
          "fiveYNetIncomeGrowthPerShare" : -0.217887915614747019,
          "threeYNetIncomeGrowthPerShare" : 0.13424710689096353,
          "tenYShareholdersEquityGrowthPerShare" : -0.254270603728455058,
          "fiveYShareholdersEquityGrowthPerShare" : -0.0702122491981813646,
          "threeYShareholdersEquityGrowthPerShare" : 0.316686950637021403,
          "tenYDividendperShareGrowthPerShare" : 0.817127921927365608,
          "fiveYDividendperShareGrowthPerShare" : 0.224373341577144003,
          "threeYDividendperShareGrowthPerShare" : 0.0850371766659607231,
          "receivablesGrowth" : 0.0728335991493886253,
          "inventoryGrowth" : -0.0223480333730631704,
          "assetGrowth" : 0.00223350705054837584,
          "bookValueperShareGrowth" : 0.0845986846310082252,
          "debtGrowth" : -0.0661360958584354119,
          "rdexpenseGrowth" : 0,
          "sgaexpensesGrowth" : 0.115652173913043485
        }, {
          "symbol" : "KO",
          "date" : "2021-03-31",
          "period" : "Q1",
          "revenueGrowth" : 0.0474973870630588796,
          "grossProfitGrowth" : 0.0957679316511027279,
          "ebitgrowth" : 0.217279726261762202,
          "operatingIncomeGrowth" : 0.217279726261762202,
          "netIncomeGrowth" : 0.541895604395604358,
          "epsgrowth" : 0.533214285714284864,
          "epsdilutedGrowth" : 0.533214285714284864,
          "weigh[...]
