---
http_interactions:
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/financial-growth/KO?apikey=<FMP_API_KEY>&period=annual
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [ {
          "symbol" : "KO",
          "date" : "2020-12-31",
          "period" : "FY",
          "revenueGrowth" : -0.114098642193956962,
          "grossProfitGrowth" : -0.135382169823817733,
          "ebitgrowth" : -0.107971445568114222,
          "operatingIncomeGrowth" : -0.107971445568114222,
          "netIncomeGrowth" : -0.131502242152466364,
          "epsgrowth" : -0.138755980861243938,
          "epsdilutedGrowth" : -0.135265700483091694,
          "weightedAverageSharesGrowth" : 0.0072497661365762394,
          "weightedAverageSharesDilutedGrowth" : 0.0037088548910523874,
          "dividendsperShareGrowth" : 0.0221006013449490876,
          "operatingCashFlowGrowth" : -0.0598796676535192432,
          "freeCashFlowGrowth" : 0.029701793988356897,
          "tenYRevenueGrowthPerShare" : 0.00750436012995141059,
          "fiveYRevenueGrowthPerShare" : -0.246874659578023348,
          "threeYRevenueGrowthPerShare" : -0.075240945120829697,
          "tenYOperatingCFGrowthPerShare" : 0.106823826888490306,
          "fiveYOperatingCFGrowthPerShare" : -0.0552003065625125966,
          "threeYOperatingCFGrowthPerShare" : 0.374050751984722096,
          "tenYNetIncomeGrowthPerShare" : -0.296909286524625782,
          "fiveYNetIncomeGrowthPerShare" : 0.0648811713503879978,
          "threeYNetIncomeGrowthPerShare" : 5.15708774624493227,
          "tenYShareholdersEquityGrowthPerShare" : -0.271609913527658231,
          "fiveYShareholdersEquityGrowthPerShare" : -0.165254714913857792,
          "threeYShareholdersEquityGrowthPerShare" : 0.112454007630783587,
          "tenYDividendperShareGrowthPerShare" : 0.856582513340086393,
          "fiveYDividendperShareGrowthPerShare" : 0.240311411807103942,
          "threeYDividendperShareGrowthPerShare" : 0.105970557203022425,
          "receivablesGrowth" : -0.208259884160161168,
          "inventoryGrowth" : -0.0334418467002071604,
          "assetGrowth" : 0.0105926071705583404,
          "bookValueperShareGrowth" : 0.00155496226736508191,
          "debtGrowth" : 0.000701541051843883757,
          "rdexpenseGrowth" : 0,
          "sgaexpensesGrowth" : -0.13402889245585875
        }, {
          "symbol" : "KO",
          "date" : "2019-12-31",
          "period" : "FY",
          "revenueGrowth" : 0.169826720241084889,
          "grossProfitGrowth" : 0.127501742507218963,
          "ebitgrowth" : 0.102054195804195807,
          "operatingIncomeGrowth" : 0.102054195804195807,
          "netIncomeGrowth" : 0.386384830587503891,
          "epsgrowth" : 0.38410596026490057,
          "epsdilutedGrowth" : 0.379999999999999893,
          "weighted[...]
