<h2>Dividend#recent</h2>

<table>
  <tr>
    <% @dividends.first.keys.each do |key| %>
      <th>
        <%= Client::Fmp::DIVIDEND_CALENDAR_CONVERSION[key] %>
      </th>
    <% end %>
  </tr>
  <% @dividends.each do |dividend| %>
    <tr>
      <% dividend.each do |key, value| %>
      <td>
        <%= value %>
      </td>
      <% end %>
    </tr>
  <% end %>
</table>
