---
http_interactions:
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/stock_dividend/CB,ALB,CINF,TROW,LEG?apikey=<FMP_API_KEY>&from=2021-09-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "TROW",
            "historical" : [ {
              "date" : "2021-09-14",
              "label" : "September 14, 21",
              "adjDividend" : 1.0800000000,
              "dividend" : 1.08,
              "recordDate" : "2021-09-15",
              "paymentDate" : "2021-09-29",
              "declarationDate" : "2021-08-02"
            } ]
          }, {
            "symbol" : "CINF",
            "historical" : [ {
              "date" : "2021-09-15",
              "label" : "September 15, 21",
              "adjDividend" : 0.6300000000,
              "dividend" : 0.63,
              "recordDate" : "2021-09-16",
              "paymentDate" : "2021-10-15",
              "declarationDate" : "2021-08-20"
            } ]
          }, {
            "symbol" : "ALB",
            "historical" : [ {
         [...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/stock_dividend/KO?apikey=<FMP_API_KEY>&from=2021-09-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "symbol" : "KO",
          "historical" : [ {
            "date" : "2021-09-14",
            "label" : "September 14, 21",
            "adjDividend" : 0.4200000000,
            "dividend" : 0.42,
            "recordDate" : "2021-09-15",
            "paymentDate" : "2021-10-01",
            "declarationDate" : "2021-07-14"
          } ]
        }
  recorded_at: Sun, 26 Sep 2021 08:11:55 GMT
recorded_with: VCR 6.0.0
