---
http_interactions:
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/stock_dividend_calendar?apikey=<FMP_API_KEY>&from=2021-09-02
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [ {
          "date" : "2021-09-17",
          "label" : "September 17, 21",
          "adjDividend" : 0.12,
          "symbol" : "RPT",
          "dividend" : 0.12,
          "recordDate" : "2021-09-20",
          "paymentDate" : "2021-10-01",
          "declarationDate" : "2021-08-04"
        }, {
          "date" : "2021-09-17",
          "label" : "September 17, 21",
          "adjDividend" : 0.16,
          "symbol" : "FGBI",
          "dividend" : 0.16,
          "recordDate" : "2021-09-20",
          "paymentDate" : "2021-09-30",
          "declarationDate" : "2021-08-24"
        }, {
          "date" : "2021-09-17",
          "label" : "September 17, 21",
          "adjDividend" : 0.6,
          "symbol" : "DTM",
          "dividend" : 0.6,
          "reco[...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/profile/RPT,FGBI,DTM,DTE,JJSF,CJT.TO,WHF,SYBT,MRTN,NEO.TO,NJR,NEWT,AVNT,ARD,AIMC,ALEX,ALRS,TPB,ALB,AAP,GEF,TG,SHOO,RBCAA,ROIC,QCRH,HBAN,HRZN,VRS,HRC,UNIT,FISI,EXP,CSU.TO,CHMG,CNQ.TO,OLED,SYY,MCY,MPW,MAL.TO,ITP.TO,XTC.TO,ESSA,CINF,ADT,CCL-B.TO,OPP,TCPC,ARES,AIG,RMI,AGI.TO,RFMZ,RMM,RSF,RIV,RFM,PGZ,OXLC,MEOH,GDL,GNT,GUT,GRX,GGZ,GDV,GAB,FNV,AGI,OXSQ,NMFC,MX.TO,ICE,GWRS,NX,RYN,HI,HCA,FNV.TO,FFIN,FCAP,FNF,RNST,VST,WU,UTMD,AAN[...]
