---
http_interactions:
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/stock_dividend/KO?apikey=<FMP_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "symbol" : "KO",
          "historical" : [ {
            "date" : "2021-06-14",
            "label" : "June 14, 21",
            "adjDividend" : 0.4200000000,
            "dividend" : 0.42,
            "recordDate" : "2021-06-15",
            "paymentDate" : "2021-07-01",
            "declarationDate" : "2021-04-21"
          }, {
            "date" : "2021-03-12",
            "label" : "March 12, 21",
            "adjDividend" : 0.4200000000,
            "dividend" : 0.42,
            "recordDate" : "2021-03-15",
            "paymentDate" : "2021-04-01",
            "declarationDate" : "2021-02-18"
          }, {
            "date" : "2020-11-30",
            "label" : "November 30, 20",
            "adjDividend" : 0.4100000000,
            "dividend" : 0.41,
            "recordDate" : "2020-[...]
