---
http_interactions:
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v4/company-outlook?apikey=<FMP_API_KEY>&symbol=KO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "profile" : {
            "symbol" : "KO",
            "price" : 55.65,
            "beta" : 0.62937,
            "volAvg" : 12624620,
            "mktCap" : 247363895296,
            "lastDiv" : 1.66,
            "range" : "47.3-57.56",
            "changes" : 0.110001,
            "companyName" : "The Coca-Cola Company",
            "currency" : "USD",
            "cik" : "0000021344",
            "isin" : "US1912161007",
            "cusip" : "191216100",
            "exchange" : "New York Stock Exchange",
            "exchangeShortName" : "NYSE",
            "industry" : "Beverages—Non-Alcoholic",
            "website" : "http://www.coca-colacompany.com",
            "description" : "The Coca-Cola Company, a beverage company, manufactures, markets, and sells various nonalcoholic beverages worldwide. The company provides sparkling soft drinks; water, enhanced water, and sports drinks; juice, dairy, and plant?based beverages; tea and coffee; and energy drinks. It also offers beverage concentrates and syrups, as well as fountain syrups to fountain retailers, such as restaurants and convenience stores. The company sells its products under the Coca-Cola, Diet Coke/Coca-Cola Light, Coca-Cola Zero Sugar, Fanta, Fresca, Schweppes, Sprite, Thums Up, Aquarius, Ciel, Dasani, glacéau smartwater, glacéau vitaminwater, Ice Dew, I LOHAS, Powerade, Topo Chico, AdeS, Del Valle, fairlife, innocent, Minute Maid, Minute Maid Pulpy, Simply, ZICO, Ayataka, Costa, dogadan, FUZE TEA, Georgia, Gold Peak, HONEST TEA, and Kochakaden brands. It operates through a network of company-owned or controlled bottling and distribution operators, as well as through independent bottling partners, distributors, wholesalers, and retailers. The company was founded in 1886 and is headquartered in Atlanta, Georgia.",
            "ceo" : "Mr. James Quincey",
            "sector" : "Consumer Defensive",
            "country" : "US",
            "fullTimeEmployees" : "80300",
            "phone" : "14046762121",
            "address" : "1 Coca Cola Plz NW",
            "city" : "Atlanta",
            "state" : "GEORGIA",
            "zip" : "30301",
            "dcfDiff" : -22.44,
            "dcf" : 57.2193,
            "image" : "https://financialmodelingprep.com/image-stock/KO.png",
            "ipoDate" : "1919-09-05",
            "defaultImage" : false,
            "isEtf" : false,
            "isActivelyTrading" : true
          },
          "metrics" : {
            "dividendYielTTM" : 0.029829290206648696,
            "volume" : 8844146,
            "yearHigh" : 57.56000000,
            "yearLow" : 47.30000000
          },
          "ratios" : [ {
            "dividendYielTTM" : 0.029829290206648696,
            "dividendYielPercentageTTM" : 2.982929020664869600,
            "peRatioTTM" : 30.628006,
            "pegRatioTTM" : -2.2073287082758632,
            "payoutRatioTTM" : 0.8861963114246812,
            "currentRatioTTM" : 1.4694424472187724,
            "quickRatioTTM" : 1.1162821099418263,
            "cashRatioTTM" : 0.600562128243676,
            "daysOfSalesOutstandingTTM" : 40.457541469845104,
            "daysOfInventoryOutstandingTTM" : 83.50638030820724,
            "operatingCycleTTM" : 93.48221245145672,
            "daysOfPayablesOutstandingTTM" : 308.5740185482184,
            "cashConversionCycleTTM" : -247.52586275580165,
            "grossProfitMarginTTM" : 0.606146325387235,
            "operatingProfitMarginTTM" : 0.2967977589805559,
            "pretaxProfitMarginTTM" : 0.2999835219158519,
            "netProfitMarginTTM" : 0.22187740305393827,
            "effectiveTaxRateTTM" : 0.25908633159388444,
            "returnOnAssetsTTM" : 0.08957358582610817,
            "returnOnEquityTTM" : 0.37369041837230277,
            "returnOnCapitalEmployedTTM" : 0.14429534681887976,
            "netIncomePerEBTTTM" : 0.73963196923922,
            "ebtPerEbitTTM" : 1.0107337836587398,
            "ebitPerRevenueTTM" : 0.2967977589805559,
            "debtRatioTTM" : 0.7310796727055014,
            "debtEquityRatioTTM" : 2.7185734900020613,
            "longTermDebtToCapitalizationTTM" : 0.6213646794361448,
            "totalDebtToCapitalizationTTM" : 0.6339586194407135,
            "interestCoverageTTM" : 4.930200729927007,
            "cashFlowToDebtRatioTTM" : 0.2995381832031994,
            "companyEquityMultiplierTTM" : 3.7185734900020613,
            "receivablesTurnoverTTM" : 9.021803766105055,
            "payablesTurnoverTTM" : 1.1828604420983173,
            "inventoryTurnoverTTM" : 4.370923498933252,
            "fixedAssetTurnoverTTM" : 3.4523561202237603,
            "assetTurnoverTTM" : 0.403707563696033,
            "operatingCashFlowPerShareTTM" : 2.9174588453512635,
            "freeCashFlowPerShareTTM" : 2.664502666357524,
            "cashPerShareTTM" : 3.0238812891258986,
            "operatingCashFlowSalesRatioTTM" : 0.3455728880588817,
            "freeCashFlowOperatingCashFlowRatioTTM" : 0.9132957164428197,
            "cashFlowCoverageRatiosTTM" : 0.2995381832031994,
            "shortTermCoverageRatiosTTM" : 5.709165154264973,
            "capitalExpenditureCoverageRatioTTM" : -11.533455545371218,
            "dividendPaidAndCapexCoverageRatioTTM" : -11.533455562919832,
            "priceBookValueRatioTTM" : 9.895627705627705,
            "priceToBookRatioTTM" : 9.895627705627705,
            "priceToSalesRatioTTM" : 6.591740360320774,
            "priceEarningsRatioTTM" : 29.708930560712957,
            "priceToFreeCashFlowsRatioTTM" : 20.885698746954404,
            "priceToOperatingCashFlowsRatioTTM" : 19.07481920050862,
            "priceCashFlowRatioTTM" : 19.07481920050862,
            "priceEarningsToGrowthRatioTTM" : -2.2073287082758632,
            "priceSalesRatioTTM" : 6.591740360320774,
            "dividendYieldTTM" : 0.029829290206648696,
            "enterpriseValueMultipleTTM" : 18.639052466183905,
            "priceFairValueTTM" : 9.895627705627705,
            "dividendPerShareTTM" : 1.66
          } ],
          "insideTrades" : [ {
            "symbol" : "KO",
            "transactionDate" : "2021-08-10",
            "reportingCik" : "0001760346",
            "transactionType" : "S-Sale",
            "securitiesOwned" : 170076.0,
            "companyCik" : "0000021344",
            "reportingName" : "QUAN NANCY",
            "typeOfOwner" : "officer: Senior Vice President",
            "acquistionOrDisposition" : "D",
            "formType" : "4",
            "securitiesTransacted" : 6625.0,
            "price" : 57.0849,
            "securityName" : "Common Stock, $.25 Par Value",
            "link" : "https://www.sec.gov/Archives/edgar/data/0000021344/000112760221023567/0001127602-21-023567-index.htm"
          }, {
            "symbol" : "KO",
            "transactionDate" : "2021-08-09",
            "reportingCik" : "0001804234",
            "transactionType" : "M-Exempt",
            "securitiesOwned" : 23734.0,
            "companyCik" : "0000021344",
            "reportingName" : "Douglas Monica Howard",
            "typeOfOwner" : "",
            "acquistionOrDisposition" : "A",
     [...]
