---
http_interactions:
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/stock_dividend_calendar?apikey=<FMP_API_KEY>&from=2021-08-27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [ {
          "date" : "2021-09-10",
          "label" : "September 10, 21",
          "adjDividend" : 1.45,
          "symbol" : "UNH",
          "dividend" : 1.45,
          "recordDate" : "2021-09-13",
          "paymentDate" : "2021-09-21",
          "declarationDate" : "2021-08-11"
        }, {
          "date" : "2021-09-10",
          "label" : "September 10, 21",
          "adjDividend" : 0.005,
          "symbol" : "GROW",
          "dividend" : 0.005,
          "recordDate" : "2021-09-13",
          "paymentDate" : "2021-09-27",
          "declarationDate" : "2021-06-02"
        }, {
          "date" : "2021-09-10",
          "label" : "September 10, 21",
          "adjDividend" : 0.49,
          "symbol" : "DVN",
          "dividend" : 0.49,
          "[...]
