---
http_interactions:
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/MMM,AOS,ABT,ABBV,AFL?apikey=<FMP_API_KEY>&from=2021-09-13
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "ABT",
            "historical" : [ {
              "date" : "2021-09-17",
              "open" : 126.78,
              "high" : 127.8,
              "low" : 126.47,
              "close" : 126.79,
              "adjClose" : 126.79,
              "volume" : 1.0107861E7,
              "unadjustedVolume" : 1.0107861E7,
              "change" : 0.01,
              "changePercent" : 0.008,
              "vwap" : 127.02,
              "label" : "September 17, 21",
              "changeOverTime" : 8.0E-5
            }, {
              "date" : "2021-09-16",
              "open" : 127.87,
              "high" : 127.97,
              "low" : 126.3,
              "close" : 127.44,
              "adjClose" : 127.44,
              "volume" : 2445083.0,
              "unadjustedVolume" : 2445083.0,
              "change" : -0.43,
              "changePercent" : -0.336,
              "vwap" : 127.23667,
              "label" : "September 16, 21",
              "changeOverTime" : -0.00336
      [...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/APD,ALB,AMCR,ADM,T?apikey=<FMP_API_KEY>&from=2021-09-13
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "T",
            "histori[...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/ATO,ADP,BDX,BF-B,CAH?apikey=<FMP_API_KEY>&from=2021-09-13
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "BF-B",
            "hi[...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/CAT,CVX,CB,CINF,CTAS?apikey=<FMP_API_KEY>&from=2021-09-13
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "CINF",
            "hi[...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/CLX,KO,CL,ED,DOV?apikey=<FMP_API_KEY>&from=2021-09-13
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "KO",
            "historic[...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/ECL,EMR,ESS,EXPD,XOM?apikey=<FMP_API_KEY>&from=2021-09-13
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "ESS",
            "his[...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/FRT,BEN,GD,GPC,HRL?apikey=<FMP_API_KEY>&from=2021-09-13
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "HRL",
            "histo[...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/ITW,IBM,JNJ,KMB,LEG?apikey=<FMP_API_KEY>&from=2021-09-13
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "KMB",
            "hist[...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/LIN,LOW,MKC,MCD,MDT?apikey=<FMP_API_KEY>&from=2021-09-13
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "LIN",
            "hist[...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/NEE,NUE,PNR,PBCT,PEP?apikey=<FMP_API_KEY>&from=2021-09-13
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "PNR",
            "his[...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/PPG,PG,O,ROP,SPGI?apikey=<FMP_API_KEY>&from=2021-09-13
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "ROP",
            "histor[...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/SHW,SWK,SYY,TROW,TGT?apikey=<FMP_API_KEY>&from=2021-09-13
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "TGT",
            "his[...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/VFC,GWW,WBA,WMT,WST?apikey=<FMP_API_KEY>&from=2021-09-13
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "VFC",
            "hist[...]
