---
http_interactions:
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/MMM,AOS,ABT,ABBV,AFL?apikey=<FMP_API_KEY>&from=2021-08-30&to=2021-09-05
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "ABT",
            "historical" : [ {
              "date" : "2021-09-03",
              "open" : 129.0,
              "high" : 129.4,
              "low" : 128.16,
              "close" : 128.94,
              "adjClose" : 128.94,
              "volume" : 2464926.0,
              "unadjustedVolume" : 2464926.0,
              "change" : -0.06,
              "changePercent" : -0.047,
              "vwap" : 128.83333,
              "label" : "September 03, 21",
              "changeOverTime" : -4.7E-4
            }, {
              "date" : "2021-09-02",
              "open" : 127.5,
              "high" : 128.85,
              "low" : 127.34,
              "close" : 128.49,
              "adjClose" : 128.49,
              "volume" : 3320520.0,
              "unadjustedVolume" : 3320520.0,
              "change" : 0.99,
              "changePercent" : 0.776,
              "vwap" : 128.22667,
              "label" : "September 02, 21",
              "changeOverTime" : 0.00776
        [...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/APD,ALB,AMCR,ADM,T?apikey=<FMP_API_KEY>&from=2021-08-30&to=2021-09-05
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "T",
      [...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/ATO,ADP,BDX,BF-B,CAH?apikey=<FMP_API_KEY>&from=2021-08-30&to=2021-09-05
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "BF-B",
 [...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/CAT,CVX,CB,CINF,CTAS?apikey=<FMP_API_KEY>&from=2021-08-30&to=2021-09-05
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "CINF",
 [...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/CLX,KO,CL,ED,DOV?apikey=<FMP_API_KEY>&from=2021-08-30&to=2021-09-05
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "KO",
       [...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/ECL,EMR,ESS,EXPD,XOM?apikey=<FMP_API_KEY>&from=2021-08-30&to=2021-09-05
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "ESS",
  [...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/FRT,BEN,GD,GPC,HRL?apikey=<FMP_API_KEY>&from=2021-08-30&to=2021-09-05
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "HRL",
    [...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/ITW,IBM,JNJ,KMB,LEG?apikey=<FMP_API_KEY>&from=2021-08-30&to=2021-09-05
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "KMB",
   [...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/LIN,LOW,MKC,MCD,MDT?apikey=<FMP_API_KEY>&from=2021-08-30&to=2021-09-05
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "LIN",
   [...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/NEE,NUE,PNR,PBCT,PEP?apikey=<FMP_API_KEY>&from=2021-08-30&to=2021-09-05
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "PNR",
  [...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/PPG,PG,O,ROP,SPGI?apikey=<FMP_API_KEY>&from=2021-08-30&to=2021-09-05
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "ROP",
     [...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/SHW,SWK,SYY,TROW,TGT?apikey=<FMP_API_KEY>&from=2021-08-30&to=2021-09-05
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "TGT",
  [...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/VFC,GWW,WBA,WMT,WST?apikey=<FMP_API_KEY>&from=2021-08-30&to=2021-09-05
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "historicalStockList" : [ {
            "symbol" : "VFC",
   [...]
[...]
