<h1><%= link_to "Dividend Portal", root_path %></h1>

<ul>
  <li><%= link_to "権利落ち日が近い銘柄", dividends_recent_path %></li>
  <li><%= link_to "本日の配当発表", dividends_today_path %></li>
  <li><%= link_to "企業を探す", companies_path %></li>
</ul>
