<h1><%= link_to "Dividend Portal", root_path %></h1>

<ul>
  <li><%= link_to "Recent Dividends", dividends_recent_path %></li>
  <li><%= link_to "Today declared Dividends", dividends_today_path %></li>
  <li><%= link_to "Companies", companies_path %></li>
</ul>
