---
http_interactions:
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/historical-price-full/stock_dividend/ADM?apikey=<FMP_API_KEY>&from=2018-08-29
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "symbol" : "ADM",
          "historical" : [ {
            "date" : "2021-08-17",
            "label" : "August 17, 21",
            "adjDividend" : 0.3700000000,
            "dividend" : 0.37,
            "recordDate" : "2021-08-18",
            "paymentDate" : "2021-09-08",
            "declarationDate" : "2021-08-04"
          }, {
            "date" : "2021-05-18",
            "label" : "May 18, 21",
            "adjDividend" : 0.3700000000,
            "dividend" : 0.37,
            "recordDate" : "2021-05-19",
            "paymentDate" : "2021-06-09",
            "declarationDate" : ""
          }, {
            "date" : "2021-02-08",
            "label" : "February 08, 21",
            "adjDividend" : 0.3700000000,
            "dividend" : 0.37,
            "recordDate" : "2021-02-09",
    [...]
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v4/company-outlook?apikey=<FMP_API_KEY>&symbol=ADM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "profile" : {
            "symbol" : "ADM",
            "price" : 60.57,
            "beta" : 0.9,
            "volAvg" : 2356944,
            "mktCap" : 33880799232,
            "lastDiv" : 1.4699999999999998,
            "range" : "44.42-69.3",
            "changes" : 0.829998,
            "companyName" : "Archer-Daniels-Midland Company",
            "currency" : "USD",
            "cik" : "0000007084",
            "isin" : "US0394831020",
            "cusip" : "039483102",
            "exchange" : "New York Stock Exchange",
            "exchangeShortName" : "NYSE",
            "industry" : "Farm Products",
            "website" : "http://www.adm.com",
            "description" : "Archer-Daniels-Midland Company procures, transports, stores, processes, and merchandises agricultural commodities, products, and ingredients in the United States and internationally. The company operates through three segments: Ag Services and Oilseeds, Carbohydrate Solutions, and Nutrition. It procures, stores, cleans, and transports agricultural raw materials, such as oilseeds, corn, wheat, milo, oats, rice, and barley. The company also engages in the agricultural commodity and feed product [...]
